* {
  box-sizing: border-box;
  color: #314659;
}

.btn {
    line-height: 1.5;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    box-shadow: 0 2px 0 rgba(0,0,0,0.015);
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
    height: 32px;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 4px;
    color: rgba(0,0,0,0.65);
    background-color: #fff;
    border-color: #d9d9d9;
    display: flex;
    align-items: center;
}

.app {
    text-align: center;
    width: 500px;
    margin: auto;
    // border: 1px solid;
    margin-top: 50px;
    border-radius: 5px;
    padding: 20px;

    &__welcome {
        margin-top: 20px;
        font-size: 20px;
        font-weight: 600;
    }

    &__actions {
        margin-top: 30px;
    }

    .btn {
        margin: auto;
        margin-top: 10px;
    }

}